openapi: 3.0.1
info:
  title: API V2
  version: 1.0.0
  description: The Dog API provides a wealth of information on dog breeds, groups,
    and fun facts. Access and integrate this data into your website or
    application with our easy-to-use JSON API.
  termsOfService: https://dogapi.dog/terms
  contact:
    email: dev@dogapi.dog
  license:
    name: MIT
    url: https://github.com/kinduff/dogapi.dog/blob/master/LICENSE
servers:
  - url: https://dogapi.dog/api/v2
paths:
  /breeds:
    get:
      summary: list breeds
      tags:
        - Breeds
      parameters:
        - name: page[number]
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
          description: Page number for pagination
        - name: page[size]
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
          description: Number of records per page (max 1000)
      responses:
        "200":
          description: successful
          content:
            application/json:
              examples:
                example:
                  value:
                    data:
                      - id: f9643a80-af1d-422a-9f15-18d466822053
                        type: breed
                        attributes:
                          name: Caucasian Shepherd Dog
                          description: The Caucasian Shepherd dog is a serious guardian breed and should
                            never be taken lightly.
                          hypoallergenic: false
                          life:
                            min: 15
                            max: 20
                          male_weight:
                            min: 50
                            max: 100
                          female_weight:
                            min: 50
                            max: 100
                      - id: dc5e84f8-9151-4624-836c-25b4e313118b
                        type: breed
                        attributes:
                          name: Bouvier des Flandres
                          description: They don't build 'em like this anymore.
                          hypoallergenic: false
                          life:
                            min: 10
                            max: 14
                          male_weight:
                            min: 30
                            max: 40
                          female_weight:
                            min: 25
                            max: 35
                    meta:
                      pagination:
                        current: 1
                        records: 9
                    links:
                      self: https://dogapi.dog/api/v2/breeds
                      current: https://dogapi.dog/api/v2/breeds?page[number]=1
                      next: https://dogapi.dog/api/v2/breeds?page[number]=2
                      last: https://dogapi.dog/api/v2/breeds?page[number]=2
  /breeds/{id}:
    get:
      summary: get breed with non-existing id
      tags:
        - Breeds
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful
          content:
            application/json:
              examples:
                example:
                  value:
                    data:
                      id: f9643a80-af1d-422a-9f15-18d466822053
                      type: breed
                      attributes:
                        name: Caucasian Shepherd Dog
                        life:
                          min: 15
                          max: 20
                        male_weight:
                          min: 50
                          max: 100
                        female_weight:
                          min: 50
                          max: 100
                        description: The Caucasian Shepherd dog is a serious guardian breed and should
                          never be taken lightly.
                        hypoallergenic: false
                    links:
                      self: https://dogapi.dog/api/v2/breeds/f9643a80-af1d-422a-9f15-18d466822053
        "404":
          description: not-found
  /facts:
    get:
      summary: list facts
      tags:
        - Facts
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 5
            default: 1
          description: Number of facts to return (max 5, defaults to 1)
      responses:
        "200":
          description: successful
          content:
            application/json:
              examples:
                example:
                  value:
                    data:
                      - id: 1cd1a16d-6fe1-40ea-9dd2-c21dd0f7c24e
                        type: fact
                        attributes:
                          body: Many foot disorders in dogs are caused by long toenails.
  /groups:
    get:
      summary: list groups
      tags:
        - Groups
      parameters:
        - name: page[number]
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
          description: Page number for pagination
        - name: page[size]
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
          description: Number of records per page (max 1000)
      responses:
        "200":
          description: successful
          content:
            application/json:
              examples:
                example:
                  value:
                    data:
                      - id: 02124eb6-1baa-410c-90ea-6b8629fb0837
                        type: group
                        attributes:
                          name: Foundation Stock Service
                        relationships:
                          breeds:
                            data:
                              - id: b0b6810c-fb88-4987-ad0a-ae0440b04634
                                type: breed
                              - id: 38e06144-2ac3-43c0-981c-f8598eabc902
                                type: breed
                      - id: 256db247-70ce-4f08-b6a6-60b27ce369d1
                        type: group
                        attributes:
                          name: Herding Group
                        relationships:
                          breeds:
                            data:
                              - id: 85d5a702-057f-42e3-a24c-b56e0aa94bf9
                                type: breed
                              - id: eef99f80-266a-4659-a1e7-3af639010984
                                type: breed
                    links:
                      self: https://dogapi.dog/api/v2/groups
                      current: https://dogapi.dog/api/v2/groups?page[number]=1
                      next: https://dogapi.dog/api/v2/groups?page[number]=2
                      last: https://dogapi.dog/api/v2/groups?page[number]=2
  /groups/{id}:
    get:
      summary: get group with non-existing id
      tags:
        - Groups
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful
          content:
            application/json:
              examples:
                example:
                  value:
                    data:
                      id: 02124eb6-1baa-410c-90ea-6b8629fb0837
                      type: group
                      attributes:
                        name: Foundation Stock Service
                      relationships:
                        breeds:
                          data:
                            - id: b0b6810c-fb88-4987-ad0a-ae0440b04634
                              type: breed
                            - id: 4bc90a09-5406-4739-96c6-ac2161fbfa4e
                              type: breed
                    links:
                      self: https://dogapi.dog/api/v2/groups/02124eb6-1baa-410c-90ea-6b8629fb0837
        "404":
          description: not-found
components:
  schemas:
    BreedsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Breed'
        meta:
          $ref: '#/components/schemas/Meta'
        links:
          $ref: '#/components/schemas/PaginationLinks'

    BreedResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Breed'
        links:
          $ref: '#/components/schemas/SelfLink'

    Breed:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          example: breed
        attributes:
          $ref: '#/components/schemas/BreedAttributes'

    BreedAttributes:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        hypoallergenic:
          type: boolean
        life:
          $ref: '#/components/schemas/MinMax'
        male_weight:
          $ref: '#/components/schemas/MinMax'
        female_weight:
          $ref: '#/components/schemas/MinMax'

    MinMax:
      type: object
      properties:
        min:
          type: integer
        max:
          type: integer

    FactsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Fact'

    Fact:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          example: fact
        attributes:
          $ref: '#/components/schemas/FactAttributes'

    FactAttributes:
      type: object
      properties:
        body:
          type: string

    GroupsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Group'
        links:
          $ref: '#/components/schemas/PaginationLinks'

    GroupResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Group'
        links:
          $ref: '#/components/schemas/SelfLink'

    Group:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          example: group
        attributes:
          $ref: '#/components/schemas/GroupAttributes'
        relationships:
          $ref: '#/components/schemas/GroupRelationships'

    GroupAttributes:
      type: object
      properties:
        name:
          type: string

    GroupRelationships:
      type: object
      properties:
        breeds:
          $ref: '#/components/schemas/BreedRelationship'

    BreedRelationship:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ResourceIdentifier'

    ResourceIdentifier:
      type: object
      properties:
        id:
          type: string
        type:
          type: string

    Meta:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'

    Pagination:
      type: object
      properties:
        current:
          type: integer
        records:
          type: integer

    PaginationLinks:
      type: object
      properties:
        self:
          type: string
          format: uri
        current:
          type: string
          format: uri
        next:
          type: string
          format: uri
        last:
          type: string
          format: uri

    SelfLink:
      type: object
      properties:
        self:
          type: string
          format: uri